div(
  v-if="hasStep"
)
  a-page-tab-title(
    :title="pageTitle"
  )
  h1
    span.a_d_block(
      v-if="headerStep"
    ) {{ headerStep }}
    span(
      v-html="headerTextWithSearch"
    )

  .a_d_flex.a_justify_content_between.a_mb_3
    a-translation.a_my_0(
      tag="h2"
      text="_STEP_TAGS_"
    )
    div
      a-element.a_ml_3.a_btn.a_btn_secondary(
        v-if="hasPreviousStep"
        :to="toPreviousStep"
        icon-left="CaretLeftFill"
        text-screen-reader="_BTN_PREVIOUS_STEP_TITLE_"
        title="_BTN_PREVIOUS_STEP_TITLE_"
        type="link"
      )
      a-element.a_ml_3.a_btn.a_btn_secondary(
        v-if="hasNextStep"
        :to="toNextStep"
        icon-left="CaretRightFill"
        text-screen-reader="_BTN_NEXT_STEP_TITLE_"
        title="_BTN_NEXT_STEP_TITLE_"
        type="link"
      )
  step-tags(
    :is-button="false"
    :tags="currentStep.tags"
  )

  page-step-rubric(
    v-if="currentStep.whatChecked"
    :current-step="currentStep"
    :is-rubric-open="rubricsOpen.whatChecked"
    :search-from-url="searchFromUrl"
    rubric-key="whatChecked"
  )

  page-step-rubric(
    v-if="currentStep.whyChecked"
    :current-step="currentStep"
    :is-rubric-open="rubricsOpen.whyChecked"
    :search-from-url="searchFromUrl"
    rubric-key="whyChecked"
  )

  page-step-rubric(
    v-if="currentStep.howChecked"
    :current-step="currentStep"
    :is-rubric-open="rubricsOpen.howChecked"
    :search-from-url="searchFromUrl"
    rubric-key="howChecked"
  )

  page-step-rubric(
    v-if="currentStep.sources"
    :current-step="currentStep"
    :is-rubric-open="rubricsOpen.sources"
    :search-from-url="searchFromUrl"
    rubric-key="sources"
  )

  page-step-rubric(
    v-if="currentStep.classification"
    :current-step="currentStep"
    :is-rubric-open="rubricsOpen.classification"
    :search-from-url="searchFromUrl"
    rubric-key="classification"
  )

  page-step-rubric(
    v-if="currentStep.questions"
    :current-step="currentStep"
    :is-rubric-open="rubricsOpen.questions"
    :search-from-url="searchFromUrl"
    rubric-key="questions"
  )

  page-step-rubric(
    v-if="currentStep.tests?.length"
    :current-step="currentStep"
    :is-rubric-open="!!rubricsOpen.tests"
    :search-from-url="searchFromUrl"
    rubric-key="tests"
  )
    page-step-tests-table(
      :current-step="currentStep"
    )

div(
  v-else
)
  a-translation(
    tag="h1"
    text="Error"
  )
