div(
  v-if="hasStep"
)
  a-page-tab-title(
    :title="pageTitle"
  )
  h1
    span.a_d_block(
      v-if="headerStep"
    ) {{ headerStep }}
    span(
      v-html="headerTextWithSearch"
    )

  a-translation(
    tag="h2"
    text="_STEP_TAGS_"
  )
  step-tags(
    :is-button="false"
    :tags="currentStep.tags"
  )

  page-step-rubric(
    v-if="currentStep.whatChecked"
    :current-step="currentStep"
    :is-rubric-open="rubricsOpen.whatChecked"
    :search-from-url="searchFromUrl"
    rubric-key="whatChecked"
  )

  page-step-rubric(
    v-if="currentStep.whyChecked"
    :current-step="currentStep"
    :is-rubric-open="rubricsOpen.whyChecked"
    :search-from-url="searchFromUrl"
    rubric-key="whyChecked"
  )

  page-step-rubric(
    v-if="currentStep.howChecked"
    :current-step="currentStep"
    :is-rubric-open="rubricsOpen.howChecked"
    :search-from-url="searchFromUrl"
    rubric-key="howChecked"
  )

  page-step-rubric(
    v-if="currentStep.sources"
    :current-step="currentStep"
    :is-rubric-open="rubricsOpen.sources"
    :search-from-url="searchFromUrl"
    rubric-key="sources"
  )

  page-step-rubric(
    v-if="currentStep.classification"
    :current-step="currentStep"
    :is-rubric-open="rubricsOpen.classification"
    :search-from-url="searchFromUrl"
    rubric-key="classification"
  )

  page-step-rubric(
    v-if="currentStep.questions"
    :current-step="currentStep"
    :is-rubric-open="rubricsOpen.questions"
    :search-from-url="searchFromUrl"
    rubric-key="questions"
  )

div(
  v-else
)
  a-translation(
    tag="h1"
    text="Error"
  )
