a-dropdown(
  ref="aDropdownRef"
  button-tag="div"
  button-class=""
  :has-caret="false"
  dropdown-tag="div"
  :triggers="[]"
)
  template(
    v-slot:button
  )
    a-input(
      label="_SEARCH_"
      :model-value="model"
      @update:model-value="changeModel"
    )

  template(
    v-slot:dropdown
  )
    ul.a_list_group
      a-translation.a_list_group__item(
        v-if="!itemsSearch.length"
        tag="li"
        text="_NOTHING_FOUND_"
      )
      template(
        v-else
      )
        the-search-global-item(
          v-for="item in itemsSearch"
          :key="item.ref"
          :id="item.ref"
          :in-navbar="true"
          :matches="item.matches"
          :model-search="model"
        )
